body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background: #ffffff;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
}

.hide {
  display: none;
}

.container {
  max-width: 320px;
  padding: 0 16px 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px 0 15px;
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header {
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 149px;
  font-family: Raleway, sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  padding-top: 17px;
  padding-bottom: 17px;
}

@media only screen and (min-width: 768px) {
  .logo {
    margin-right: 120px;
  }
}

@media only screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
}

.logo-blue {
  color: #2e2f42;
}

.nav-list,
.cont-list {
  display: flex;
  gap: 40px;
}

@media only screen and (max-width: 767.98px) {
  .nav-list,
  .cont-list {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1157.98px) {
  .cont-list {
    display: block;
  }
}

.nav-link {
  position: relative;
  color: #2e2f42;
  font-weight: 500;
  display: block;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.active {
  color: #404bbf;
}

.nav-link.active::after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  bottom: -1px;
}

.cont-link {
  display: block;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.cont-link:hover,
.cont-link:focus {
  color: #404bbf;
}

.home-page {
  background-color: #2e2f42;
  max-width: 320px;
  margin: 0 auto;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 72px 0;
}

@media (min-resolution: 192dpi) {
  .home-page {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-mobile@2x.jpg);
  }
}

@media only screen and (min-width: 768px) {
  .home-page {
    max-width: 768px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-tablet.jpg);
    padding: 112px 0;
  }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .home-page {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-tablet@2x.jpg);
  }
}

@media only screen and (min-width: 1158px) {
  .home-page {
    max-width: 1440px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    padding: 188px 0;
  }
}

@media only screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .home-page {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office@2x.jpg);
  }
}

.home-page-title {
  max-width: 218px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 72px;
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

@media only screen and (min-width: 768px) {
  .home-page-title {
    max-width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
    text-transform: none;
  }
}

@media only screen and (min-width: 1158px) {
  .home-page-title {
    margin-bottom: 48px;
  }
}

.home-page-btn,
.modal-send-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  margin-right: auto;
  margin-left: auto;
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.home-page-btn:hover,
.home-page-btn:focus,
.modal-send-btn:hover,
.modal-send-btn:focus {
  background-color: #404bbf;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

@media only screen and (min-width: 768px) {
  .features-list {
    column-gap: 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .features-list {
    gap: 24px;
  }
}

.features-item {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .features-item {
    width: calc((100% - 24px * 1) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .features-item {
    width: calc((100% - 24px * 3) / 4);
  }
}

.features-wrap {
  display: none;
}

@media only screen and (min-width: 1158px) {
  .features-wrap {
    display: flex;
    min-height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }
}

.features-subtitle {
  margin-bottom: 8px;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .features-subtitle {
    text-align: left;
  }
}

@media only screen and (min-width: 1158px) {
  .features-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
}

.features-desc {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media only screen and (min-width: 1158px) {
  .features-desc {
    font-weight: 400;
  }
}

.team {
  background-color: #f4f4fd;
}

.team-hero {
  background-color: #ffffff;
}

.team-title,
.portfolio-title {
  margin-bottom: 72px;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.team-subtitle,
.portfolio-subtitle {
  margin-bottom: 8px;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-desc,
.portfolio-desc,
.text-footer,
.social-media {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team-subtitle {
  text-align: center;
  margin-bottom: 8px;
}

.team-desc {
  text-align: center;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

@media only screen and (min-width: 768px) {
  .team-list {
    column-gap: 24px;
    row-gap: 64px;
  }
}

@media only screen and (min-width: 1158px) {
  .team-list {
    gap: 24px;
  }
}

.team-hero {
  max-width: 264px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

@media only screen and (min-width: 768px) {
  .team-hero {
    width: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .team-hero {
    width: calc((100% - 72px) / 4);
  }
}

.team-info {
  padding: 32px 0 32px;
}

.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 8px;
}

.socials-item {
  width: 40px;
  height: 40px;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  color: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover,
.socials-link:focus {
  background-color: #404bbf;
}

.socials-icon {
  fill: currentColor;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    column-gap: 24px;
    row-gap: 72px;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-list {
    row-gap: 48px;
  }
}

.portfolio-item {
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }
}

.portfolio-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-wrap > img {
  max-width: fit-content;
}

.portfolio-wrap {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;

  color: #f4f4fd;
  background-color: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.02em;

  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-wrap:hover .overlay {
  transform: translatey(0);
}

.about-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/* Footer */

.logo-cloud,
.text-footer {
  color: #f4f4fd;
}

.page-footer {
  background-color: #2e2f42;
  padding: 96px 0 96px;
}

@media only screen and (min-width: 768px) {
  .page-footer {
    padding-left: 72px;
  }
}

@media only screen and (min-width: 1158px) {
  .page-footer {
    padding: 100px 0 100px;
  }
}

.footer-container {
  max-width: 320px;
  display: block;
}

@media only screen and (min-width: 768px) {
  .footer-container {
    max-width: 768px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-container {
    max-width: 1440px;
  }
}

@media only screen and (min-width: 768px) {
  .logo-text-footer {
    margin-right: 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .logo-text-footer {
    margin-right: 120px;
  }
}

.page-footer .logo {
  display: block;
  margin-bottom: 16px;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .page-footer .logo {
    text-align: left;
  }
}

.text-footer {
  max-width: 264px;
}

@media only screen and (max-width: 767.98px) {
  .social-media-wrap {
    margin-top: 72px;
    margin-bottom: 72px;
  }
}

.social-media {
  color: #ffffff;
  margin-bottom: 16px;
  font-weight: 500;
}

@media only screen and (max-width: 767.98px) {
  .social-media,
  .subscribe {
    text-align: center;
  }
  .social-media-list {
    justify-content: center;
  }
}

.social-media-list {
  display: flex;
  gap: 16px;
}

.social-media-item {
  width: 40px;
  height: 40px;
}

.social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  color: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover,
.social-media-link:focus {
  background-color: #31d0aa;
}

.social-media-icon {
  fill: currentColor;
}

/* Footer subscribe */

.footer-subscribe {
  margin-left: auto;
}

@media (min-width: 758px) and (max-width: 1157.98px) {
  .footer-subscribe {
    margin-top: 72px;
    margin-left: 0;
  }
}
.subscribe {
  margin-bottom: 16px;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.form-subscribe {
  display: flex;
  align-items: center;
  gap: 24px;
}

@media only screen and (max-width: 767.98px) {
  .form-subscribe {
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }
}

.input-subscribe {
  min-width: 264px;
  height: 40px;
  padding-left: 16px;

  color: #ffffff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  outline: transparent;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.input-subscribe::placeholder {
  color: #ffffff;
}
.btn-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;

  min-width: 165px;
  height: 40px;

  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  cursor: pointer;
  border-radius: 4px;
  background: #4d5ae5;
  border: none;
}

.icon-subscribe {
  fill: #fff;
  margin-left: 16px;
}

/* Modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  min-width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px;

  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (max-width: 767.98px) {
  .modal {
    min-width: 288px;
    min-height: 623px;
    padding: 72px 16px 24px;
  }
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;

  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-btn-icon {
  fill: #2e2f42;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover > .modal-btn-icon,
.modal-btn:focus > .modal-btn-icon {
  fill: #ffffff;
}

.modal-caption {
  margin-bottom: 16px;
  color: #2e2f42;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.form-wrapper {
  margin-bottom: 8px;
}

.form-label {
  display: block;
  margin-bottom: 4px;

  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.form-field {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;

  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: #4d5ae5;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  fill: #2e2f42;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-icon {
  fill: #4d5ae5;
}

.form-wrapper-comment {
  margin-bottom: 16px;
}

.form-comment {
  width: 100%;
  height: 120px;
  padding: 8px 16px;

  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  outline: transparent;
  resize: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment:focus {
  border-color: #4d5ae5;
}

.form-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.form-agreement {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 24px;

  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.form-agreement-link {
  color: #4d5ae5;
  text-decoration-line: underline;
}

.form-agreement-checkbox {
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 16px;

  fill: transparent;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-agreement-icon {
  opacity: 0;
}

.checkbox:checked + .form-agreement > .form-agreement-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.checkbox:checked
  + .form-agreement
  > .form-agreement-checkbox
  > .form-agreement-icon {
  opacity: 1;
}

/* Mobile menu */

.mobile-menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: #fff;
}

@media only screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}

.mobile-menu {
  display: flex;
  flex-direction: column;

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 72px 16px 40px;

  background: #fff;

  transform: translateX(-100%);
  visibility: hidden;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  transform: translateX(0);
  visibility: visible;
}

.close-mobile-menu-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;

  background-color: #fff;
  border: 1px solid #e7e9fc;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.close-mobile-menu-icone {
  fill: #2e2f42;
}

.mobile-menu-list {
  margin-bottom: auto;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-link {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.mobile-menu-link.active {
  color: #4d5ae5;
}

.mobile-cont-item:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-cont-link {
  color: #434455;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.mobile-cont-link.accent {
  color: #4d5ae5;
}

.mobile-socials-list {
  display: flex;
  align-items: center;
  margin-top: 48px;
  gap: 40px;
}

.mobile-socials-item {
  width: 40px;
  height: 40px;
}

.mobile-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  color: #f4f4fd;
}

.mobile-socials-icon {
  fill: currentColor;
}
